<!DOCTYPE html>
<html>
<head>
    <title>Validation </title>
    <link rel="stylesheet" href="../index.css" >
</head>
<body>
    <p class="header2">1. Own Validation</p>
                    <pre><code>
                    const newProductValidation = (req, res, next)=>{
                        //A. validate by self
                        const {name, desc, price,imageUrl} = req.body;
                        const errors = [];
                        if (!name || name.trim() == ''){
                            errors.push("Name is required");
                        }
                        if (!price || parseFloat(price) <1){
                            errors.push("Price must be positive")
                        }
                        try{
                            const validUrl = new URL(imageUrl);
                        }
                        catch(err){
                            errors.push("URL is invalid");
                        }
                        if (errors.length > 0){
                            return res.render('new-product',{errorMessage: errors[0]} );
                        }
                        next();
                    };
                    export default newProductValidation;
                    </code></pre>

                    <p class="header2">2. Express Validation</p>
                    <pre><code>
                        import {body, validationResult} from 'express-validator';

                        const expressValidation = async (req, res,next)=>{

                            //1. setup for rules
                            const rules = [body('name').notEmpty().withMessage("Name is requires"), 
                                            body('price').isFloat({gt:0}).withMessage("Price should be a +ve value"),
                                            // body('imageUrl').isURL().withMessage("Invalid URL"),
                                            
                                            //custom validator
                                            body('imageUrl').custom((value, {req})=> {
                                                if (!req.file){
                                                    throw new Error('Image is required');
                                                }
                                                return true;
                                            })
                                            ];

                            //2. Run those rules
                            // RULES CAN BE ASYNC THAT WHY WE USE PROMISE 
                            await Promise.all(rules.map(rule=> rule.run(req)));

                            //3 check if there are any errors
                            var validationErrors = validationResult(req);
                            console.log("object",validationErrors);
                            console.log("array",validationErrors.array());

                            if (!validationErrors.isEmpty()){
                                return res.render('new-product',{errorMessage: validationErrors.array()[0].msg})
                            }
                            next()
                                    
                        }

                        export default expressValidation;
                    </code></pre>
</body>
</html>
